{% extends "layout.html" %}
{% block title %}Add Equipment Tool{% endblock %}
{% block content %}
    <h1 class="title">Add Your Equipment or Tool</h1>

    <form action="" method="post" name="eqtool_edit">
      <div class="field">
        <label for="title" class="label">Title</label>
        <div class="control">
          <input type="text" name="title" class="input"/>
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Description</label>
        <div class="control">
          <input type="text" name="description" class="input"/>
        </div>
      </div>

      <table class="table is-striped is-fullwidth">
        <input type="radio" id="share" name="share" value="share">
        <label for="Will you share it">Will you share it? </label><br>
        <input type="radio" id="sale" name="share" value="sale">
        <label for="Will you sell it">Will you sell it? </label><br>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}